<a href="https://colab.research.google.com/github/Neema387/commuter/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Machine Learning

Clean Data and Underline

In [ ]:
import pandas
data = pandas.read_csv("https://modcom.co.ke/data/datasets/Churn.csv")
data

      customerID  gender  SeniorCitizen  ... MonthlyCharges  TotalCharges Churn
0     7590-VHVEG  Female              0  ...          29.85        256.50    No
1     5575-GNVDE    Male              0  ...          56.95       8684.80    No
2     3668-QPYBK    Male              0  ...          53.85       8672.45   Yes
3     7795-CFOCW    Male              0  ...          42.30       8670.10    No
4     9237-HQITU  Female              0  ...          70.70       8594.40   Yes
...          ...     ...            ...  ...            ...           ...   ...
7038  6840-RESVB    Male              0  ...          84.80         19.00    No
7039  2234-XADUH  Female              0  ...         103.20         18.90    No
7040  4801-JZAZL  Female              0  ...          29.60         18.85    No
7041  8361-LTMKD    Male              1  ...          74.40         18.85   Yes
7042  3186-AJIEK    Male              0  ...         105.65         18.80    No

[7043 rows x 20 columns]

Check for empties

In [ ]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

2 rules in ML

*No empties
*No text in data,should be numeric

In [ ]:
#data.groupby('SeniorCitizen').size()

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

data['gender'] = label_encoder.fit_transform(data['gender'])
data['Dependents'] = label_encoder.fit_transform(data['Dependents'])
data['PhoneService'] = label_encoder.fit_transform(data['PhoneService'])
data['MultipleLines'] = label_encoder.fit_transform(data['MultipleLines'])
data['InternetService'] = label_encoder.fit_transform(data['InternetService'])
data['OnlineSecurity'] = label_encoder.fit_transform(data['OnlineSecurity'])
data['OnlineBackup'] = label_encoder.fit_transform(data['OnlineBackup'])
data['DeviceProtection'] = label_encoder.fit_transform(data['DeviceProtection'])
data['TechSupport'] = label_encoder.fit_transform(data['TechSupport'])
data['StreamingTV'] = label_encoder.fit_transform(data['StreamingTV'])
data['StreamingMovies'] = label_encoder.fit_transform(data['StreamingMovies'])
data['Contract'] = label_encoder.fit_transform(data['Contract'])
data['PaperlessBilling'] = label_encoder.fit_transform(data['PaperlessBilling'])
data['PaymentMethod'] = label_encoder.fit_transform(data['PaymentMethod'])
 
data

#data.to_csv("churn.csv")

      customerID  gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges  Churn
0     7590-VHVEG       0              0  ...           29.85        256.50     No
1     5575-GNVDE       1              0  ...           56.95       8684.80     No
2     3668-QPYBK       1              0  ...           53.85       8672.45    Yes
3     7795-CFOCW       1              0  ...           42.30       8670.10     No
4     9237-HQITU       0              0  ...           70.70       8594.40    Yes
...          ...     ...            ...  ...             ...           ...    ...
7038  6840-RESVB       1              0  ...           84.80         19.00     No
7039  2234-XADUH       0              0  ...          103.20         18.90     No
7040  4801-JZAZL       0              0  ...           29.60         18.85     No
7041  8361-LTMKD       1              1  ...           74.40         18.85    Yes
7042  3186-AJIEK       1              0  ...          105.65         18.80     No

[7043 rows x 20 columns]

Objective:Create a model that can predict customers who are most likely subject to churn.

In [31]:
subset = data[['SeniorCitizen','Dependents','tenure','PhoneService','MultipleLines',
               'InternetService','OnlineSecurity','OnlineBackup','DeviceProtection',
               'TechSupport','StreamingTV','StreamingMovies','Contract','Churn']]
subset

      SeniorCitizen  Dependents  tenure  ...  StreamingMovies  Contract  Churn
0                 0           0       1  ...                0         0     No
1                 0           0      34  ...                0         1     No
2                 0           0       2  ...                0         0    Yes
3                 0           0      45  ...                0         1     No
4                 0           0       2  ...                0         0    Yes
...             ...         ...     ...  ...              ...       ...    ...
7038              0           1      24  ...                2         1     No
7039              0           1      72  ...                2         1     No
7040              0           1      11  ...                0         0     No
7041              1           0       4  ...                0         0    Yes
7042              0           0      66  ...                2         2     No

[7043 rows x 14 columns]

In [35]:
#Step 1:Split data into x(features) and y(label)
array = subset.values
array
X = array[:,0:13]#0-9 columns (there is a minus 1)
Y = array[:,13]
X

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 34, ..., 0, 0, 1],
       [0, 0, 2, ..., 0, 0, 0],
       ...,
       [0, 1, 11, ..., 0, 0, 0],
       [1, 0, 4, ..., 0, 0, 0],
       [0, 0, 66, ..., 2, 2, 2]], dtype=object)